/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* Body */

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #e7e7e7;
}

/* Page Code */

.container {
    max-width: 800px;
    margin: 0 auto;
}

pre {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 15px;
    border-radius: 8px;
    overflow: auto;
    white-space: pre-wrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    direction: ltr;
}

code {
    color: #f8f8f2;
}

/* Button Copy Code */

.precode .copy {
    position: absolute;
    margin: -50px 0px 0px 10px;
}

.copy {
    border: 0;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #1b344d;
    color: #fff;
}

.fa-check {
    color: green;
}

/* Button Github */

button.github {
    padding: 20px;
    background-color: #0d1117;
    color: #fff;
    border: 0;
    border-radius: 15px;
}

button.github span {
    font-size: xx-large;
}